body,html {
	background: none;
	height: 100%;
	width: 100%;
}
body {
   font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
   position: relative;
}

a {
	text-decoration: none;
}


.navbar-brand {
	color: #ffffff;
	font-size: 36px;
	font-weight: bold;
}

.navbar-brand a:focus, .navbar-brand a:hover {
    color: #dc2430;
    text-decoration: none;
}

.navbar a:hover {
    color: #dc2430;
    text-decoration: none;
}

.nav li a{
	font-size: 27px;
	color: #ffffff;
	font-weight: bold;
}

.nav li.active a{
	color: #dc2430;
}
.nav > li > a:focus {
	background: none;
}
.nav > li > a:hover {
	border-top: 3px solid #dc2430;
    background: none;
}
.nav > li.active > a:hover, .nav > li.active > a:focus {
	border-top: none;
    background: none;
}

/*These styles are applied while scrolling down to sections other than home*/

.navbar-scroll-down{
	background: #dc2430;
}

.navbar-scroll-down a:hover {
    color: #ffffff;
}

.navbar-scroll-down .nav li.active a{
	background-color: #ffffff;
	color: #dc2430;
}

.navbar-scroll-down .nav > li > a:hover {
	border-top: 3px solid #ffffff;
}

.navbar-scroll-down .nav > li.active > a:hover, .navbar-scroll-down .nav > li.active > a:focus {
	border-top: none;
}


.full {
  background: url(../images/bg.jpg) no-repeat center center scroll; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;

}
.head{
	margin-top: 20%;
   vertical-align: middle;
   }
.head h1 {
	font-size: 68px;
	margin: 0;
   padding: 0;
   font-weight: bold;
   color: #060606;
}
.sub-head {
	background: #dc2430;
	height: 30px;
    color: #ffffff;
	font-size: 24px;
	width: 40%;
	margin-left: 30%;
	padding: 2px;				
}

.red {
	color: #dc2430;
}
.social-icons i{
	color: #dc2430;
	font-size: 32px;
	margin-right: 5px;
}
.about{
	background: #f1f1f1;
}
.page-block {
	padding-top:10%;
}
.red-head{
	font-size: 64px;
	font-weight: 600;
	color: #dc2430;
}
.paragraph{
	font-size: 18px;
	color: #040404;
	text-align: justify;
}
.pg-section{
	margin-top: 48px;
}
.contact-icons i {
	
	color: #dc2430;
	
}
.contact-icons{
	line-height: 30px;
	margin-left: 15px;
	margin-top: 50px;

}
.contact-icons span{
	margin-left: 15px;
	font-weight: 600;
}
.margin{
	margin-left: 35%;
	margin-top: 10px;
}
.cap{
    float: left;
    margin-bottom: 80px;
    margin-right: 30px;
    color: #dc2430;
    font-size: 32px;
}
.degree h3{
	font-size: 32px;
	font-weight: 600;
}
.degree h4{
	font-size: 28px; 
	font-weight: 600;
}
.degree p{
	font-size: 18px;
	text-align: justify;
}
.red-head {
	margin-left: 18px;
}
.progress-bar{
	background: #dc2430;
	width: 80%;

}
.progress{
	width: 100%;
	height: 30px;
	background: #bdbcbc;
	border-radius: 0;
}
.progressbar-head h3{
   font-size: 32px;
	font-weight: 600;
}
.css{
	width: 70%;
}
.bs{
	width: 60%;
}
.js{
	width: 50%;
}
.progressbar-head{
	margin-top: 35px;
}
.button-area{
	height: 300px;
	background: url(../images/bg2.jpg);
	background-size: cover;
	background-position: center center;
	width: 100%;
}
.my-btn{
	height: 40px;
	width: 150px;
	background: #dc2430;
	border-radius: 0;
	margin-top: 130px;
	border: none;
}
.button-area span{
    color: white;
    font-weight: bold;
}
.float-btn{
	float: right;
	margin-top: 30px;
	font-weight: bold;
	color: white;
	background: #dc2430;
	border-radius: 0;
	border: none;
	margin-bottom: 15px;
}
.contact-icons-2{
	line-height: 30px;
	margin-left: 15px;
	margin-top: 50px;
}
.contact-icons-2 span{
	margin-left: 15px;
	font-weight: 600;
	color: #040404;
}
.contact-icons-2 i{
	color:#dc2430;
}
.form-control{
	border-radius: 0;
}
.footer-btn{
	font-weight: bold;
	color: white;
	background: #dc2430;
	border-radius: 0;
	border: none;
	width: 200px;
}
.map {
	height: 400px;
}

footer{
	background: black;
	height: 120px;
}
h3{
	color: #040404;
}
@media (max-width: 374px) { 
    .head h1 {
		margin-top: 70%;
		font-size: 42px;
	}

	.sub-head{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		font-size: 20px;
	}

	.navbar{
		background: #dc2430;
	}

	.margin{
		margin-left: 16%;
		margin-top: 10px;
	}

	.paragraph {
		font-size: 12px;
	}

	.contact-icons{
		margin-top: 25px;
	}
	.cap{
		font-size: 22px;
		margin-right: 10px;
	}
	.degree h3{
	font-size: 22px;
	}
	.degree h4{
		font-size: 18px;
	}
	.degree p{
		font-size: 12px;
	}
	.progress-bar{
	background: #dc2430;
	width: 80%;
}
.progress{
	width: 100%;
	height: 10px;
}
.progressbar-head h3{
   font-size: 22px;
	font-weight: 600;
}
.css{
	width: 70%;
}
.bs{
	width: 60%;
}
.js{
	width: 50%;
}
.progressbar-head{
	margin-top: 35px;
}

}

@media (min-width: 375px) and (max-width: 424px) { 
	.head h1 {
		margin-top: 70%;
		font-size: 49px;
	}

	.sub-head{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		font-size: 20px;
	}
	.navbar{
		background: #dc2430;
	}
	.margin{
	margin-left: 18%;
	margin-top: 10px;
}

.paragraph{
		font-size: 14px;
	}
	.cap{
		font-size: 20px;
		margin-right: 10px;
		margin-bottom: 100px;
	}
	.degree h3{
	font-size: 24px;
	}
	.degree h4{
		font-size: 20px;
	}
	.degree p{
		font-size: 14px;
	}
.progress-bar{
	background: #dc2430;
	width: 80%;
}
.progress{
	width: 100%;
	height: 15px;
}
.progressbar-head h3{
   font-size: 24px;
	font-weight: 600;
}
.css{
	width: 70%;
}
.bs{
	width: 60%;
}
.js{
	width: 50%;
}
.progressbar-head{
	margin-top: 35px;
}
}

@media (min-width: 375px) and (max-width: 767px) { 
	.pg-section {
    	margin-top: 70px;
	}

	.paragraph{
		margin-top: 30px;
	}

	.contact-icons{
		margin-top: 50px;
	}
}

@media (max-width: 767px) { 
	.navbar{
		background: #dc2430;
	}

	.navbar a:focus, .navbar a:hover {
	    color: #ffffff;
	}

	.navbar .nav li.active a{
		background-color: #ffffff;
	}

	.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
		background-color: #ffffff;
	}
	.navbar-toggle .icon-bar{
		background: #ffffff;
	}

	.about-image img{
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
		margin-top: 35%;
		background:#f1f1f1;
        opacity:0.4;
	}
	.pg-section{
    position: absolute;
    top: 95%;
	}
	
	.red-head{
		font-size: 35px;
		text-align: center;
	}
	.contact-icons span {
    margin-left: 5px;
    font-weight: 600;
    font-size: 14px;
	}
	.button-area{
	height: 200px;
	background: url(../images/bg2.jpg);
	background-size: cover;
	background-position: center center;
	width: 100%;
}
.my-btn {
    height: 30px;
    width: 100px;
    background: #dc2430;
    border-radius: 0;
    margin-top: 100px;
    border: none;
}
.float-btn{
	height: initial;
	margin-top: 25px;
	margin-bottom: 15px;
}
.contact-icons-2{
	margin-top: 100px;
}
.footer-btn{
	width: 100px;
}
.footer-si{
	font-size: 10px;
}
.list-inline{
	margin-top: 40px;
}
.list-inline li{
	display: block;
}
.my-btn{
	margin-top: 20px;
}

}

@media (min-width: 425px) and (max-width: 767px) { 
    .head h1 {
		margin-top: 60%;
		font-size: 56px;
	}

	.sub-head{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		padding: 1px;
	}

	.navbar{
		background: #dc2430;
	}

	.margin{
		margin-left: 25%;
		margin-top: 10px;
	}

	.paragraph {
		font-size: 16px;
	}
	.cap{
		font-size: 22px;
		margin-right: 10px;
		margin-bottom: 110px;
	}
	.degree h3{
	font-size: 26px;
	}
	.degree h4{
		font-size: 22px;
	}
	.degree p{
		font-size: 16px;
	}

.progress{
	width: 100%;
	height: 20px;
}
.progressbar-head h3{
   font-size: 26px;
	font-weight: 600;
}


}
@media (min-width: 768px) and (max-width: 1023px) { 
    .head {
    	margin-top: 30%;
    	padding:1px;
    }
    .head h1 {
		
		font-size: 48px;
	}

	.sub-head{
		width: 45%;
		margin-left: 28%;
		/* margin-right: 5%; */
	}

	.about-image img{
		width: 100%;
	}
	.paragraph{
		font-size: 14px;
	}
	.red-head{
		font-size: 35px;
	}
	.pg-section{
		margin-top: 30px;
	}
	.margin{
	margin-left: 5%;
	margin-top: 10px;
}
.about-image{
	margin-top: 70px;
}
.paragraph{
	margin-top: px;
}
.head-row{
	margin-top: 30%;
}

}

@media (min-width: 1024px) and (max-width: 1199px) { 
	.head {
    	padding:1px;
    }
    .head h1 {
		
		font-size: 62px;
	}

	.sub-head{
		width: 45%;
		margin-left: 28%;
		/* margin-right: 5%; */
	}

	.about-image img{
		width: 100%;
	}
	.about-image{
		margin-top: 10%;
	}
	.margin{
	margin-left: 18%;
	margin-top: 5%;
}
}

@media (min-width: 2560px) { 
	.head {
    	margin-top: 40%;
    }
}




